.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота равная высоте видимой области (viewport) */
}

.content {
    flex: 1; /* Растягивает основной контент на всю доступную высоту */
}

.footer {
    margin-top: auto; /* Прижимает футер к нижней части страницы */
    background-color: #333; /* Пример фона для футера */
    color: #fff; /* Пример цвета текста для футера */
}

.bg-lightblue {
    background: linear-gradient(45deg, rgba(1,126,190,1) 0%, rgba(72,193,255,1) 50%, rgba(138,216,255,1) 100%);
}

.main-block {
    background-color: rgb(248, 249, 250);
    padding: 1rem;
    border-radius: 1rem;
}