@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root {
    --bg_gradient: linear-gradient(to bottom right, #00c6ff, #0072ff);
    --bg_red_gradient: linear-gradient(to bottom right, #f83e3e, #b20303);
    --bg: #02a4fd;
    --primary: white;
    --secondary: #fff9;
    --invert_bg: white;
    --invert_primary: #333;
    --invert_secondary: #3335;
    --link_hover_color: #2efff8;
    --radius: 5px;
    --button_radius: 2px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--primary);
}

body {
    display: grid;
    justify-items: center;
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
}

/* Layout */
.component {
    width: 100vw;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 330px;
    grid-template-rows: 85px 1fr minmax(65px, auto);
    grid-auto-rows: 50px;
    gap: 10px;
    min-height: 100vh;
}

.component > * {
    padding: 8px 10px;
    background: var(--bg_gradient);
    color: var(--primary);
}

/* Header */
header {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    grid-column: span 2;
}

header .logo {
    padding: 6px 20px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: var(--button_radius);
    background: var(--primary);
    color: var(--bg);
}

header .menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

header .auth {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 15px;
    margin-left: auto;
}

header .avatar,
.sidebar .avatar {
    height: 50px;
    border-radius: 50%;
}

.avatar-container {
    position: relative;
    display: inline-block;
}

.avatar-container .badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: red;
}

/* Content */
.content {
    grid-column: 1;
}

.content-title {
    text-align: center;
    font-weight: 500;
    margin: 10px 0 15px;
    font-size: 22px;
}

.content-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    min-height: 650px;
}

.card {
    padding: 5px;
    max-width: 300px;
    max-height: 340px;
    color: var(--invert_primary);
    background: var(--invert_bg);
    font-weight: 300;
    font-size: 15px;
    overflow: hidden;
    border-radius: var(--radius);
}

.card-img {
    border-radius: var(--radius);
    height: 20vw;
    min-height: 150px;
    max-height: 200px;
}

.card-content {
    display: grid;
    padding: 5px;
}

.card-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 3px;
}

.card-desc {
    opacity: 0.8;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-age,
.card-gender {
    letter-spacing: -1px;
    font-size: 20px;
}

.card-button {
    cursor: pointer;
    display: inline-block;
    padding: 7px 25px;
    margin: 10px auto 0;
    background: var(--bg_gradient);
    color: var(--primary);
    border-radius: var(--button_radius);
    font-size: 15px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination button {
    margin: 10px 5px 0 5px;
}

/* Sidebar */
.sidebar {
    align-content: start;
    justify-items: start;
    justify-content: start;
}

.sidebar-list {
    width: 100%;
}

.sidebar-list * + * {
    border-top: 1px solid var(--invert_secondary);
    margin-top: 4px;
    padding-top: 4px;
}

/* Footer */
footer {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

footer ul {
    justify-content: space-around;
    align-items: center;
    list-style: none;
    display: flex;
    padding: 0;
    width: 70%;
}

footer li {
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

/* UI Components */
.block {
    display: block;
}

.block-flex {
    display: flex;
    align-items: center;
}

.block,
.block-flex {
    justify-content: space-around;
    margin-bottom: 5%;
    width: 100%;
    text-transform: initial;
    font-size: 15px;
    background: var(--invert_bg);
    color: var(--invert_primary);
    padding: 8px;
    border-radius: var(--radius);
}

.block-item-flex {
    display: flex;
}

.block-item input {
    margin: 0 5px;
}

.block-item button {
    align-items: center;
    justify-content: center;
}

.block-button {
    height: 55px;
}

.block-button button {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.block-button .red-button {
    background: var(--bg_red_gradient);
}

.block-2-button button {
    width: 40%;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
}

.block-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.block-input {
    width: 100%;
    flex-grow: 1;
    padding: 5px;
    outline: none;
    border: 1px solid var(--invert_secondary);
    border-radius: var(--button_radius);
}

button {
    cursor: pointer;
    background: var(--bg_gradient);
    color: var(--primary);
    border: none;
    border-radius: var(--button_radius);
}

/* Register Form */
#register-form,
#profile-form,
#user-form {
    display: grid;
    gap: 10%;
    grid-template-columns: 2fr 1fr;
}

/* Profile */
.profile .avatar {
    height: 100px;
}

.disabled-checkbox {
    pointer-events: none;
}

/* Media Queries */
@media (max-width: 768px) {
    .title {
        font-size: 4.5vw;
    }

    .component {
        max-width: 480px;
        grid-template-rows: 70px 1fr minmax(100px, auto);
        gap: 2px;
    }

    header {
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid var(--primary);
    }

    header .auth {
        margin-left: auto;
    }

    .sidebar {
        grid-column: span 2;
    }

    .content {
        grid-column: span 2;
    }

    .card-img {
        min-height: 130px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 5vw;
    }

    .component {
        width: 96vw;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr minmax(100px, auto);
    }

    .sidebar {
        grid-column: span 2;
    }

    .content {
        grid-column: span 2;
    }

    .card-img {
        height: 30vw;
    }
}

@media (max-width: 448px) {
    header .avatar {
        height: 30px;
    }

    .content-cards {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }

    .card-img {
        height: 50vw;
    }

    footer ul {
        width: 100%;
    }

    #register-form,
    #profile-form {
        display: block;
    }
}

/* Tooltip */
.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s linear 0s;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background: var(--bg_red_gradient);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}